

<!-- <div class="col-xs-12 col-md-2">
      <p>Profile</p>
      <p>History</p>
      <p>Setting</p>
</div> -->
  <!-- <div class="col-xs-12 col-md-12"> -->

    <!-- <div id="mySidenav" class="sidenav">
      <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
      <a href="#">About</a>
      <a href="#">Services</a>
      <a href="#">Clients</a>
      <a href="#">Contact</a>
    </div> -->

  <div class="container">
     <div class="col-xs-12 col-md-2">

          <div id="mySidenav" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
            <a href="#">About</a>
            <a href="#">Services</a>
            <a href="#">Clients</a>
            <a href="#">Contact</a>
          </div>

      <div class="vertical-menu">
        <!-- <h1>Vertical Menu</h1> -->
        <a href="#" class="active">Home</a>
        <a href="#">Profile</a>
        <!-- <a href="#">History</a> -->
        <a (click)="openNav()">History</a>
        <a (click)="openNav()">Faverites</a>
        <!-- <a href="#">Faverite</a> -->
        <a href="#">Setting</a>
        <a href="#">About Us</a>
        <!-- <a (click)="openNav()">About Us</a> -->
      </div>
    </div> 

    <div class="col-xs-12 col-md-10">

      <label class="Typechoice"><input type="checkbox" [(ngModel)]="questionType[1]" id="Typechoice" name="choice" [value]=1 (click)="selectCategory(1)"> <strong class="font-choice">Relationship</strong> </label>
      <label class="Typechoice"><input type="checkbox" [(ngModel)]="questionType[2]" id="Typechoice" name="choice" [value]=1 (click)="selectCategory(2)"> <strong class="font-choice">Personality</strong> </label>
      <label class="Typechoice"><input type="checkbox" [(ngModel)]="questionType[3]" id="Typechoice" name="choice" [value]=1 (click)="selectCategory(3)"> <strong class="font-choice">Music</strong> </label>
      <label class="Typechoice"><input type="checkbox" [(ngModel)]="questionType[4]" id="Typechoice" name="choice" [value]=1 (click)="selectCategory(4)"> <strong class="font-choice">Life Style</strong> </label>
      <label class="Typechoice"><input type="checkbox" [(ngModel)]="questionType[5]" id="Typechoice" name="choice" [value]=1 (click)="selectCategory(5)"> <strong class="font-choice">Food</strong> </label>
      <label class="Typechoice"><input type="checkbox" [(ngModel)]="questionType[0]" id="Typechoice" name="choice" [value]=1 (click)="selectCategory(0)"> <strong class="font-choice">Random</strong> </label>

      <div class="list-group">
          <a class="list-group-item" *ngFor="let answer of answerArray">
          <span class="{{'pull-left label type type-' + answer.type.toLocaleLowerCase()}}">
            {{answer.type}}
          </span>
          <strong class="title">{{answer.id}}  {{answer.name}} </strong>
            <div class="pull-right">
              <strong class="title">{{answer.choice}}</strong>
            </div>

          <form #formRef="ngForm">
            <!-- <div class="form-group">
              <label for="Choice">Choice</label>
              <select class="form-control" id="choice" name="choice"
                      [(ngModel)]="answer.choice">
                <option *ngFor="let choice of choices" [value]="choice">
                  {{choice}}
                </option>
              </select>
            </div>  -->

            <div class="form-group radio">
              <h4>Your Choice:</h4> 
              <label class="center-block"><input type="radio" [(ngModel)]="answer.choice" id="choice" name="choice" [value]=1 (click)="selectEntity(answer.id,1)">Yes</label>
              <label class="center-block"><input type="radio" [(ngModel)]="answer.choice" id="choice" name="choice" [value]=2 (click)="selectEntity(answer.id,2)">No</label>
              <label class="center-block"><input type="radio" [(ngModel)]="answer.choice" id="choice" name="choice" [value]=3 (click)="selectEntity(answer.id,3)">Unknown</label>
            </div>
          </form>

          </a> 
        </div>

      <div class="row">
        <div class="col-xs-12 col-md-10"></div>
        <div class="col-xs-6 col-md-2">

          <div class="btn-group">
            <button type="button" class="btn btn-danger">Sort By</button>
            <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="caret"></span>
              <span class="sr-only">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu">
              <li><a type="button" class="btn btn-default" (click)="sortMatchesByAge(1)" >Age Up</a></li> 
              <li><a type="button" class="btn btn-default" (click)="sortMatchesByAge(2)" >Age Dn</a></li> 
            </ul>
          </div>

        </div>
      </div>
      <br/>

          <div class="list-group">
            <div class="list-group-item" *ngFor="let match of matchArray">

              <div class="row">
                    <div [ngClass]=" numfavs <= 1 || match.fav == true ? 'active' : 'unactive' ">

                    <div class="col-md-3">
                      <a class="thumbnail" [routerLink]="['/peoples', match.id]">
                          <img src="{{match.img}}" class="img-responsive" alt="Chania" width="260" height="245">
                      </a>

                        <div [ngClass]="match.status? 'online' : 'offline' ">
                          <strong> {{match.status ? 'Online' : 'Offline' }} </strong>
                        </div>
                        <!-- <button type="button" class="btn btn-danger">Leave a Message</button>&nbsp; -->
                        <!-- <button type="button" class="btn btn-danger">Send a gift</button> -->
                    </div>

                    <div class="col-xs-3">

                        <dl>
                          Name: <strong class="title">{{match.name}}</strong>
                        </dl>
                        <dl>
                          Age: <strong class="title">{{match.age}}</strong>
                        </dl>
                        <!-- <dl>
                          Answers: <strong class="title">{{match.answers}}</strong>
                        </dl> -->
                        <dl>
                          Similarity: <strong class="title">{{match.weight}}</strong>
                        </dl>
                        <!-- <dl>
                          Faverite: <strong class="title">{{match.fav}}</strong>
                        </dl>  -->
                        <dl>
                          <a class="title" [routerLink]="['/peoples', match.id]">View details »</a> &nbsp; &nbsp;
                          <a class="title" [routerLink]="['/peoples', match.id]">Chat »</a>
                        </dl>
                          <button type="button" class="btn btn-danger">Poke</button>&nbsp; 
                        <button type="button" class="btn btn-danger">Send a gift</button> 
                    </div>

                    <div class="col-xs-3">
                      <strong class="title">Current state: </strong>
                        <br/>  <br/>
                      <div class="list-group-item">
                          <dl>
                            <a href="{{ match.state.video.url }}"> {{ match.state.video.title }} </a>
                          </dl>
                          <dl>
                            <a href="{{ match.state.article.url }}"> {{ match.state.article.title }} </a>
                          </dl>
                          <dl>
                            {{ match.state.description }}
                          </dl>
                      </div> 
                        <!-- <strong class="title">Current state: </strong> {{match.state}} -->
                    </div>

                      <div class="col-xs-1">

                          <br/>  <br/>  <br/>
                          <div class="row">
                          <!-- <h3> Love? </h3>  -->
                            <div class="a-card-pin">
                              <div class="a-card-pin-icon">
                              <img src="../../../img/heart.jpeg" class="{{'a-card-' + match.fav}}" (click)="pin(match)">
                              </div>
                            </div> 
                          </div>
                      </div>

                  </div>
              </div>
                
            </div>
        </div>
    </div>
  </div> 

  <!-- </div> -->
