<div class="container" *ngIf = "people">
  <div class="col-xs-12 col-md-4">
    <h2>
      {{people.name}}
    </h2>
    <!-- <br/> -->
    <img src="{{people.img}}" class="img-rounded" alt="Cinque Terre" width="304" height="236">
    <h3> {{people.desc}} </h3>
    <!-- <p>
      <h3> {{people.desc}} </h3>
    </p> -->
    <!-- <br/> -->
          <div class="list-group-item">
            <dl>
              <a href="{{ people.state.video.url }}"> {{ people.state.video.title }} </a>
            </dl>
            <dl>
              <a href="{{ people.state.article.url }}"> {{ people.state.article.title }} </a>
            </dl>
            <dl>
              {{ people.state.description }}
            </dl>
        </div> 
  </div>
  <div class="hidden-xs col-sm-12 col-md-8">
    <app-chat-window></app-chat-window>
  </div>
  
</div>